<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 text-slate-600">
  <div class="mx-auto max-w-lg">
    <h1 class="text-center text-2xl font-bold sm:text-3xl">
      <%= page_name %>
    </h1>

    <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sunt
      dolores deleniti inventore quaerat mollitia?
    </p>

    <div class="mt-6 mb-0 space-y-4 rounded-lg p-8 shadow-2xl">
      <%= simple_form_for(@item) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
        
        <div class="mt-4">
          <%= f.input :item_name, :label => "Entry name", input_html: {class: "w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"} %>
        </div>
        <div class="mt-4">
          <%= f.input :website, :label => "Website", input_html: {class: "w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"} %>
        </div>
        <div class="mt-4">
          <%= f.input :website_username, :label => "Username", input_html: {class: "w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"} %>
        </div>
        <div class="mt-4">
          <div class="relative mt-1">
            <%= f.input :website_watchword, :label => "Password", as: :password, input_html: {class: "w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm", value: password_generator(15)} %>

          <span class="absolute inset-y-0 right-4 inline-flex items-center" id="password-reveal">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-7 w-7 text-gray-600 mt-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              />
            </svg>
          </span>
        </div>
        </div>
        <div class="mt-4">
          <p>Notes</p>
          <%= f.text_area :item_notes, class: "w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm text-slate-400", rows: "8" %>
        </div>
        
        <div class="mt-5">
          <%= f.button :submit, class: "block w-full rounded-lg bg-slate-600 px-5 py-3 text-sm font-medium text-white" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  const reveal_password = document.getElementById('password-reveal');
  const password_viz = document.getElementById('item_website_watchword');

  reveal_password.addEventListener('click', () => {
    if (password_viz.type === "password") {
      password_viz.type = "text";
    } else {
      password_viz.type = "password";
    }
  })

</script>