<div id="<%= dom_id item %>">
  <p>
    <strong>Item name:</strong>
    <%= item.item_name %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= item.website %>
  </p>

  <p>
    <strong>Website username:</strong>
    <%= item.website_username %>
  </p>

  <p>
    <strong>Website watchword:</strong>
    <%= item.website_watchword %>
  </p>

  <p>
    <strong>Item notes:</strong>
    <%= item.item_notes %>
  </p>

</div>
